html, body{
    background: #fcddff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#page{
    background: red;
    width: 500px;
    height: 800px;
    margin: 5% 25% 0 25%;
    overflow: hidden;
    position: fixed; /* whatever */
}

#menu{
    background: pink;
    width: 100%;
    height: 6%;
}

.menuButton{
    background: orange;
    height: 100%;
    float: left;
    padding: 0 15px 0 15px; 
    border: 1px solid black;
    box-sizing: border-box;
}

#optionsContainer{
    background: violet;
    width: 0%; 
    height: 94%;
    overflow: hidden;
    position: absolute;
    z-index: 99;
    transition: width .5s;

}

.optionsOpen{
    width: 30% !important; /* opens menu */
}

.option{
    background: pink;
    width: 100%;
    height: 8%;
    border: 1px solid black;
    box-sizing: border-box;
}

#swipeyPageContainer{
    background: blue;
    height: 94%;
    width: 100%; 
    left: -0%; /* move between -100 and 0*/
    float: left;
    position: absolute;
    top: 6%;
    transition: left 1s;
}

.SPmatchesOpen{
    left: -100% !important;
}

#cardsContainer{
    color: #eaeaea;
    position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
    margin: 5%;
}

/* cards stacked on top of one another */
/* could use some js to ofset them so they look cool */
.card{
    position: absolute;
    top: 0;
    background: white;
    width: 90%;
    height: 90%;
}

#buttons{
    background: LightGrey;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    padding: 10%;
    box-sizing: border-box;
}

#leftButton{
    background: #fc5d5d;
    height: 5em;
    width: 5em;
    position: absolute;
    
    left: 20%;
}

#rightButton{
    background: #81e66f;
    height: 5em;
    width: 5em;
    position: absolute; 

    right: 20%;
}

#matchesContainer{
    background: green;
    height: 94%;
    width: 100%;
    position: absolute;
    top: 6%;
    left: 100%; 
    transition: left 1s;

}

.matchesOpen{
    left: 0 !important;
}